h1 {
    background-color: coral;
    text-align: center;
}

img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.caption {
    text-align: center;
}

.header {
    display: inline;
}

p {
    margin-left: 2%;
    margin-right: 2%;
}

.caption-disclaimer {
    text-align: center;
    margin-top: 10%;
    font-size: 12px;
}

.credit {
    font-size: 14px;
}

button {
    padding-bottom: 0.1%;
    background-color: mintcream;
    ;
}

li {
    padding: 0.2%;
}

a {
    text-decoration: none;
}